<section>
    <h1>Contact Us</h1>

    <ul>
        <li>
            <h3>Start a Chat</h3>
            <p>Open your mobile app to chat</p>
        </li>

        <li>
            <h3>Call us at (800) 999-9999</h3>
            <p>Available daily, 9 AM-7PM ET</p>
        </li>
    </ul>
</section>