---
import { SITE_TITLE } from "../consts";
---

<footer>
	<p>{SITE_TITLE}</p>
	<nav>
		<ul>
			<li>
				<a href="/">Contact</a>
			</li>
			<li>
				<a href="/">Status</a>
			</li>
			<li>
				<a href="/">Security</a>
			</li>
			<li>
				<a href="/">Legal</a>
			</li>
		</ul>
	</nav>
</footer>

<style>
	footer {
		display: flex;
		justify-content: space-between;
		margin-top: auto;
	}
</style>