---
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2>
			<a href="/">{SITE_TITLE}</a>
		</h2>
	</nav>
</header>

<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);

		nav a {
			pading: 1em 0.5em;
			color: var(--black);
			border-bottom: 4px solid transparent;
			text-decoration: none;
		}
	}
</style>
